<%- include('../userIncludes/header') %>

    </head>

    <body>
        <%- include('../userIncludes/nav') %>
            <section class="h-100 gradient-custom" style="min-height: 80vh;">
                <div class="container py-5">
                    <form action="/testing" method="post" id="checkout-form">

                        <div class="row d-flex justify-content-center my-4">

                            <div class="col-md-8">
                                <div class="card mb-4">
                                    <div class="card-header py-3 mb-3 d-flex justify-content-between">
                                        <h5 class="mb-0">Select a delivery address</h5>
                                        <!-- <button class="btn border"> <a href="" class="">Add Address</a> </button> -->
                                    </div>

                                    <% for(address of savedAddress){ %>
                                        <div class="card rounded-3 mb-4 mx-3">
                                            <div class="card-body p-4 d-flex justify-content-between">
                                                <div class="form-check mb-2">
                                                    <input class="form-check-input " class="shippingAddress"
                                                        type="radio" name="address"
                                                        id="shippingAddress<%= address.name  %>"
                                                        value="<%= address._id  %>" required />
                                                    <label class="form-check-label"
                                                        for="shippingAddress<%= address.name  %>">
                                                        <p> <strong>
                                                                <%= address.name %>
                                                            </strong> <br>
                                                            <%= address.address %> <br>
                                                                <%= address.zipCode %> <br>
                                                                    <%= address.mobileNumber %>
                                                        </p>
                                                    </label>
                                                </div>
                                                <div>
                                                    <a href="/removeAddress/<%=address  ._id%>" class="text-danger"><i
                                                            class="fas fa-trash fa-lg"></i></a>
                                                </div>

                                            </div>
                                        </div>
                                        <% } %>


                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="card mb-4">
                                    <div class="card-header py-3">
                                        <h5 class="mb-0">Payment</h5>
                                    </div>
                                    <div class="card-body ">

                                        <div class="form-check mb-2">
                                            <input class="form-check-input paymentOption" type="radio" name="payment"
                                                id="cashOnDelivery" value="cod" required />
                                            <label class="form-check-label" for="cashOnDelivery">
                                                Cash On Delivery (COD)
                                            </label>
                                        </div>

                                    </div>
                                    <div class="card-body ">


                                        <div class="form-check mb-2 ">
                                            <input class="form-check-input paymentOption" type="radio" name="payment"
                                                id="payOnline" value="online" required />
                                            <label class="form-check-label" for="payOnline">
                                                Pay Online
                                            </label>
                                        </div>

                                    </div>
                                </div>





                                <div class="card mb-4">
                                    <div class="card-header py-3">
                                        <h5 class="mb-0">Summary</h5>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <!-- <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                Total number of items
                                                <span>2</span>
                                            </li> -->
                                            <!-- <li
                                            class="list-group-item d-flex justify-content-between align-items-center px-0">
                                            Subtotal
                                            <span>Gratis</span>
                                        </li> -->
                                            <input type="text" id="hiddenTotalCart" name="cartTotal"
                                                value="<%= cartTotal %>"
                                                style="visibility: hidden;width:0px;height: 0px;">
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                                <div>
                                                    <strong>Total amount</strong>
                                                    <!-- <strong>
                                                    <p class="mb-0">(including VAT)</p>
                                                </strong> -->
                                                </div>
                                                <div>
                                                    <strong id="displayingTotalCart">
                                                        <%= cartTotal %>
                                                    </strong>
                                                </div>

                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                                <div>
                                                    <input type="text" placeholder="Coupon Code" class="form-control"
                                                        id="couponCode">
                                                </div>
                                                <div>
                                                    <strong>
                                                        <button class="btn border" type="button"
                                                            onclick="applyCoupon('<%=userId%>','<%=cartTotal %>')">Apply</button>
                                                    </strong>

                                                </div>


                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3 w-100 "
                                                style="visibility: hidden; height: 0; width:0;" id="couponAlert">
                                                <div class="alert alert-warning alert-dismissible fade show w-100"
                                                    role="alert">
                                                    <strong id="alertMsg">Coupon Applied</strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                                </div>


                                            </li>

                                        </ul>

                                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                            onclick="checkingPaymentAndAddress()">
                                            Place Order
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <div class="card rounded-3 mb-4 mx-3" id="addingAddressForm">
                        <div class="card-body p-4">

                            <form action="/addAddress" method="post">

                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="form7Example1" class="form-control"
                                                placeholder="Name" name="name" required />
                                            <!-- <label class="form-label" for="form7Example1">First name</label> -->
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="form7Example2" class="form-control"
                                                placeholder="Mobile Number" name="mobileNumber" required />
                                            <!-- <label class="form-label" for="form7Example2">Last name</label> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" id="form7Example1" class="form-control"
                                                placeholder="Zip code" name="zipCode" required />
                                            <!-- <label class="form-label" for="form7Example1">First name</label> -->
                                        </div>
                                        <div class="form-outline mt-4">
                                            <input type="text" id="form7Example1" class="form-control"
                                                placeholder="Alternate Mobile Number (optional)"
                                                name="alternateMobileNumber" required />
                                            <!-- <label class="form-label" for="form7Example1">First name</label> -->
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline mb-4">
                                            <textarea class="form-control" id="form7Example7" rows="4"
                                                placeholder="Address" name="address" required></textarea>
                                            <!-- <label class="form-label" for="form7Example7">Additional information</label> -->
                                        </div>
                                    </div>

                                </div>
                                <div class=" d-flex justify-content-end">
                                    <button type="submit" class="btn border">Add new address</button>

                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </section>






            <%- include('../userIncludes/footer') %>


                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

                <script>




                    function checkingPaymentAndAddress() {



                        // if (document.getElementById('cashOnDelivery').checked) {

                        $("#checkout-form").submit((e) => {
                            e.preventDefault()
                            $.ajax({
                                url: '/orderPlaced',
                                method: 'post',
                                data: $('#checkout-form').serialize(),
                                success: (response) => {
                                    // console.log(response);
                                    // alert(response)

                                    if (response.paymentType === 'cod') {

                                        console.log(response);
                                        location.href = '/orderPlacedStatus'

                                    } else if (response.paymentType === 'onlinePayment') {
                                        razorpayPayment(response.order)
                                        console.log("Evide ethi");
                                        console.log(response.order);
                                    }
                                }
                            })
                        })



                        function razorpayPayment(order) {
                            console.log(order);
                            var options = {
                                "key": "rzp_test_nskbaOm2bho9QL", // Enter the Key ID generated from the Dashboard
                                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                "currency": "INR",
                                "name": "Decor",
                                "description": "Test Transaction",
                                "image": "https://example.com/your_logo",
                                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                                "handler": function (response) {

                                    // alert(response.razorpay_payment_id);
                                    // alert(response.razorpay_order_id);
                                    // alert(response.razorpay_signature)

                                    verifyPayment(response, order);
                                },
                                "prefill": {
                                    "name": "Gaurav Kumar",
                                    "email": "gaurav.kumar@example.com",
                                    "contact": "9999999999"
                                },
                                "notes": {
                                    "address": "Razorpay Corporate Office"
                                },
                                "theme": {
                                    "color": "#3399cc"
                                }
                            };
                            var rzp1 = new Razorpay(options);
                            rzp1.open();
                        }


                        function verifyPayment(payment, order) {
                            console.log(payment);
                            console.log("dsadas");
                            console.log(order);
                            $.ajax({
                                url: '/verifyPayment',
                                data: {
                                    payment,
                                    order
                                },
                                method: 'post',
                                success: (response) => {
                                    if (response.status) {
                                        location.href = '/orderPlacedStatus'
                                    } else {
                                        alert("Payment failed")
                                    }
                                }
                            })
                        }

                    }


                </script>

                <script>
                    function applyCoupon(userId, cartTotal) {
                        console.log(userId);
                        const couponCode = document.getElementById('couponCode').value

                        console.log(document.getElementById('displayingTotalCart').innerHTML);  // 
                        console.log(document.getElementById('hiddenTotalCart').value);


                        $.ajax({
                            url: '/applyCoupon',
                            method: 'post',
                            // data: $('#checkout-form').serialize(),
                            data: { userId, couponCode },
                            success: (response) => {
                                // console.log("ggrr");
                                console.log(response);

                                if (response.status == 'couponAlreadyUsedByThisUser') {
                                    // console.log("fafdsfsad");
                                    document.getElementById('couponAlert').style.visibility = 'visible'
                                    document.getElementById('couponAlert').style.height = 'auto'
                                    document.getElementById('couponAlert').style.width = 'auto'
                                    document.getElementById('alertMsg').innerText = "Used Once"

                                } else if (response.status == 'couponLimitExceeded') {
                                    document.getElementById('couponAlert').style.visibility = 'visible'
                                    document.getElementById('couponAlert').style.height = 'auto'
                                    document.getElementById('couponAlert').style.width = 'auto'
                                    document.getElementById('alertMsg').innerText = "Coupon expired"
                                }
                                else if (response.status == 'couponApplied') {
                                    document.getElementById('couponAlert').style.visibility = 'visible'
                                    document.getElementById('couponAlert').style.height = 'auto'
                                    document.getElementById('couponAlert').style.width = 'auto'
                                    const percentageToBeDeducted = parseInt(response.percentage)
                                    console.log(percentageToBeDeducted);
                                    console.log(typeof (percentageToBeDeducted));
                                    const amountToBeDeductedFromTotalCart = (percentageToBeDeducted / 100) * cartTotal
                                    console.log(amountToBeDeductedFromTotalCart);
                                    const cartPriceAfterApplingCoupon = Math.floor(cartTotal - amountToBeDeductedFromTotalCart)
                                    console.log(cartPriceAfterApplingCoupon);
                                    document.getElementById('displayingTotalCart').innerHTML = cartPriceAfterApplingCoupon
                                    document.getElementById('hiddenTotalCart').value = cartPriceAfterApplingCoupon


                                    // document.getElementById('alertMsg').innerText = "Coupon expired"
                                }

                                // if (response.paymentType === 'cod') {
                                //     console.log(response);
                                //     location.href = '/orderPlacedStatus'

                                // } else if (response.paymentType === 'onlinePayment') {
                                //     razorpayPayment(response.order)
                                //     console.log("Evide ethi");
                                //     console.log(response.order);
                                // }
                            }
                        })



                        // document.getElementById('cartTotalView').innerHTML = "SHABEEB";
                        // console.log($("#couponCode").html);
                        // console.log($("#cartTotalView").html);
                    }                                    
                </script>







                <%- include('../userIncludes/bodyEnd') %>