<%- include('../userIncludes/header') %>
    <!-- <script src="sweetalert2.all.min.js"></script> -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>


        <%- include('../userIncludes/nav') %>


            <!-- Start Content -->
            <div class="container py-5">
                <div class="row">

                    <div class="col-lg-2">
                        <h1 class="h2 pb-4 "></h1>
                        <ul class="list-unstyled templatemo-accordion pt-5">
                            <li class="pb-3">
                                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                    Category
                                    <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                                </a>
                                <ul class="collapse show list-unstyled pl-3 ms-2">
                                    <% for(category of allCategories){%>
                                        <li><a class="text-decoration-none"
                                                href="/filterByCategory/<%= category._id%> ">
                                                <%= category.categoryName %>
                                            </a></li>
                                        <% } %>

                                </ul>
                            </li>
                            <!-- <li class="pb-3">
                                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                    Sale
                                    <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                                </a>
                                <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                                    <li><a class="text-decoration-none" href="#">Sport</a></li>
                                    <li><a class="text-decoration-none" href="#">Luxury</a></li>
                                </ul>
                            </li>
                            <li class="pb-3">
                                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                    Product
                                    <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                                </a>
                                <ul id="collapseThree" class="collapse list-unstyled pl-3">
                                    <li><a class="text-decoration-none" href="#">Bag</a></li>
                                    <li><a class="text-decoration-none" href="#">Sweather</a></li>
                                    <li><a class="text-decoration-none" href="#">Sunglass</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>

                    <div class="col-lg-10">
                        <!-- <div class="row">
                            <div class="col-md-6">
                                
                                



                            </div>


                            <div class="col-md-6 pb-4">
                                <div class="d-flex">
                                    <select class="form-control">
                                        <option selected disabled>Categories</option>
                                        <option>A to Z</option>
                                        <option>Item</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">

                            <% for(product of products){ %>

                                <div class="col-md-4">
                                    <div class="card mb-4 product-wap rounded-0 ">
                                        <div class="card rounded-0 ">
                                            <img class="card-img rounded-0 img-fluid"
                                                src="/commonStatic/productImages/<%=product.productImages[0] %> ">

                                            <div
                                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-end justify-content-end">
                                                <ul class="list-unstyled ">
                                                    <li>
                                                        <button class="btn btn-success text-white"
                                                            onclick="addToWishlist('<%=product._id%>')"><i
                                                                class="far fa-heart"></i></button>
                                                    </li>
                                                    <li><a class="btn btn-success text-white mt-2"
                                                            href="/shopSingle/<%=product._id%> "><i
                                                                class="far fa-eye"></i></a></li>
                                                    <!-- <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <a href="/shopSingle/<%=product._id%> "
                                                    class="h3 text-decoration-none ">
                                                    <%=product.productName %>
                                                </a>
                                                <p class=" mb-0 ">₹ - <%=product.productPrice %>
                                                </p>
                                            </div>

                                            <!-- <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li class="pt-2">
                                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul> -->
                                            <ul class="list-unstyled d-flex justify-content-start my-2 ">
                                                <li>
                                                    <!-- <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i> -->
                                                </li>

                                            </ul>
                                            <ul class="list-unstyled d-flex justify-content-end my-2 ">
                                                <li class="w-50 me-1">
                                                    <!-- <form action="/addToCart/<%= product._id%>" method="post"> -->
                                                    <button class="btn  border w-100 bg-success text-light"
                                                        onclick="addToCart('<%= product._id%>')">
                                                        Add to cart
                                                    </button>
                                                    <!-- </form> -->
                                                </li>
                                                <!-- <li class="w-50 ms-1">
                                                    <form action="#">
                                                        <button class="btn  border w-100 bg-danger">
                                                            Buy Now
                                                        </button>
                                                    </form>
                                                </li> -->
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <% } %>





                        </div>
                        <div div="row">
                            <ul class="pagination pagination-lg justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                                        href="#" tabindex="-1">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                        href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                                        href="#">3</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Content -->






            <%- include('../userIncludes/footer') %>








                <script>
                    function addToCart(productId) {
                        console.log(productId);
                        $.ajax({
                            url: '/addToCart/' + productId,
                            method: 'post',
                            success: (response) => {
                                console.log(response);
                                $('#cartLength').text(response.cartLength)
                                if (response.status == true) {
                                    console.log(response.cartLength);
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 1500,
                                        // timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                        }
                                    })
                                    Toast.fire({
                                        icon: 'success',
                                        title: 'Added to cart'
                                    })
                                } else if (response.status == false) {
                                    console.log("ya");
                                    location = "/login"
                                }
                            }
                        })
                    }

                    function addToWishlist(productId) {
                        $.ajax({
                            url: '/wishlist/' + productId,
                            method: 'post',
                            success: (response) => {
                                console.log(response);
                                // $('#cartLength').text(response.cartLength)
                                if (response.status == true) {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 1500,
                                        // timerProgressBar: true,
                                        didOpen: (toast) => {
                                            toast.addEventListener('mouseenter', Swal.stopTimer)
                                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                                        }
                                    })

                                    Toast.fire({
                                        icon: 'success',
                                        title: 'Added to wishlist'
                                    })
                                } else if (response.status == false) {
                                    console.log("ya");
                                    location = "/login"
                                }
                            }
                        })
                    }
                </script>

                <%- include('../userIncludes/bodyEnd') %>